.history {
  display: flex;
  flex-direction: column;
  .tab_wrap {
    display: flex;
    justify-content: center;
    .tab {
      display: flex;

      padding: 4px;
      background-color: #ebebeb;
      border-radius: 22px;

      .tab_item {
        padding: 8px 16px;
      }

      .active {
        background-color: #fff;
        border-radius: 22px;
        font-weight: 600;
      }
    }
  }
}

.weekly {
  .chart_item {
    .title {
      margin: 10px 0;
    }

    .chart_wrap {
      height: 120px;
    }
  }
}
